<app-header></app-header>

<form id="updatecustomerForm" name="updatecustomerForm" #updatecustomerForm="ngForm">
  <div class="container">
    <h3>View Customer</h3>

    <div class="alert alert-danger" role="alert" *ngIf="isupdateFailed">
  customer update Failed!
</div>
<div class="alert alert-success" role="alert" *ngIf="isupdateSuccess">
    customer update successfully
  </div>
    <div class="row">
        <div class="col-md-4">
            <label>Row ID</label>
            <input type="text" class="form-control" name="rowid" placeholder="Row ID"
            [(ngModel)]="customerrequest.rowId" readonly/>
            
          </div>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <label>Customer ID</label>
        <input type="text" class="form-control" name="customerid" placeholder="Customer ID"
        [(ngModel)]="customerrequest.customerid" readonly/>
        
      </div>
      <div class="col-md-4">
        <label>*Customer Name</label>
        <input type="text" class="form-control" name="custname" [(ngModel)]="customerrequest.customername" #cname="ngModel" placeholder="Customer Name" required />
        <div [hidden]="cname.valid || cname.pristine" style="color:red">
          Customer Name is required
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label>Billing Site ID</label>
            <input type="text" class="form-control" name="billingsiteid"
            [(ngModel)]="customerrequest.billingsiteid"/>
            
          </div>
          <div class="col-md-4">
            <label><span style="color:red">*</span>Service Type</label>
            <input type="text" class="form-control" name="servicetype" [(ngModel)]="customerrequest.servicetype" #stype="ngModel" required />
            <div [hidden]="stype.valid || stype.pristine" style="color:red">
              Service Type is required
            </div>
          </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-secondary" type="button" (click)="onCancel()" style="margin-top:20px;">Cancel</button>
        <button class="btn btn-primary" type="button" (click)="updateCustomer(updatecustomerForm)" style="margin-top:20px;"
        [disabled]="!updatecustomerForm.form.valid" >Save</button>
      </div>
    </div>

  </div>


</form>

<app-footer></app-footer>